@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto:ital,wght@0,400;1,100;1,300&display=swap');

body {
    font-family: 'Roboto', 'SansSerif';
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: linear-gradient(to right, #003974, #0056b3);
    color: white;
    display: flex;
    align-items: center;
    padding: 10px 20px;

}


header img {
    width: 100px;
    height: auto;
    margin-right: 15px;
    border-radius: 50%;
    box-shadow: 0 0 10px #000;
    background-color: #fff;
}

header h1 {
    margin: 0;
    font-size: 28px;
    font-weight: bold;
    text-shadow: 1px 1px 2px #000;
    color: #fff;
}

nav {
    background-color: #e3e3e3;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
}

nav ul li a:hover {
    background-color: #d2d2d2;
    border-radius: 5px;
}

.container {
    max-width: 800px;
    margin: 40px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.price{
    background-color: #5149f5;
    width: 18%;
    height: 1.5em;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    color: #f1e9e9;
    text-align: center;
}

.product-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    border-radius: 8px;
    margin-bottom: 20px;
    height: 3.5em;
}

.product-container img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

h1 {
    font-size: 28px;
    margin-bottom: 10px;
    color: #007bff;
}
.description {
    font-size: 16px;
    margin-bottom: 20px;
}



button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

.already-subscribed-message {
    color: red;
    margin-bottom: 10px;
}

footer {
    background: linear-gradient(to right, #003974, #0056b3);
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 30px;
}

.footer-content a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 16px;
}

.footer-content a:hover {
    text-decoration: underline;
}

.footer-bottom p {
    margin: 10px 0 0;
    font-size: 14px;
}


@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    header .logo img {
        margin-right: 0;
    }

    header .user-profile,
    header .login-register {
        margin-top: 10px;
    }

    nav ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    nav ul li{
        text-align: center;
    }

    .container{
        margin-bottom: 150px;
    }

    .price{
        width: 25%;
    }
}
