@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto:ital,wght@0,400;1,100;1,300&display=swap');

body {
    font-family: 'Roboto', 'SansSerif';
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: linear-gradient(to right, #003974, #0056b3);
    color: white;
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

header img {
    width: 100px;
    height: auto;
    margin-right: 15px;
    border-radius: 50%;
    box-shadow: 0 0 10px #000;
    background-color: #fff;
}

header h1 {
    margin: 0;
    font-size: 28px;
    font-weight: bold;
    text-shadow: 1px 1px 2px #000;
    color: #fff;
}


h1 {
    color: #333;
    text-align: center;
    margin-top: 20px;
}


.button-link {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
}
.add-course-link {
    display: block;
    text-align: right;
    margin: 10px;
}

.button-link:hover{
    background-color: #003d82;
}

table {
    width: 80%;
    margin: 100px auto;
    border-collapse: collapse;
}

th, td {
    padding: 8px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

td form input{
    background-color: #cb2020;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: auto;
}

td form input:disabled{
    background-color: gray;
    cursor: not-allowed;
}

td form input:disabled:hover{
    background-color: gray;
}

td form input:hover{
    background-color: #a20606;
}

th {
    background-color: #0056b3;
    color: white;
}

tr:hover {
    background-color: #f5f5f5;
}

@media screen and (max-width: 600px) {
    table {
        width: 100%;
    }
}