<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styleAbout.css">
    <title>Acerca de</title>
    <link rel="icon" type="image/png" href="/img/logo.png">
</head>
<body>
<header>
    <h1>IES Trassierra</h1>
</header>
<main>
    <img src="/img/IMG_0010.jpg" alt="Tu Imagen">
    <h2>Pedro Jiménez Zamorano</h2>
</main>
<footer>
    <p>© 2023 TRENdGYM - Todos los derechos reservados</p>
</footer>
</body>
</html>
