<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styleAbout.css">
    <title>Acerca de</title>
    <link rel="icon" type="image/png" href="/img/logo.png">
</head>
<body>
<header>
    <h1>IES Trassierra</h1>
</header>
<nav>
    <div class="menu-icon" onclick="toggleMenu()">☰</div>
    <ul>
        <li><a th:href="@{index}">Inicio</a></li>
        <li><a th:href="@{tienda}">Merchandising</a></li>
        <li><a th:href="@{courses}">Zona Entrenamiento</a></li>
        <li><a th:href="@{Foro}">Foro Comunidad</a></li>
        <li th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">
            <a th:href="@{panelControl}">Panel de control</a>
        </li>
    </ul>
</nav>
<main>
    <img src="/img/IMG_0010.jpg" alt="Tu Imagen">
    <h2>Pedro Jiménez Zamorano</h2>
</main>
<footer>
    <p>© 2023 TRENdGYM - Todos los derechos reservados</p>
</footer>
<script src="/js/menuHamburguesa.js"></script>
</body>
</html>
