<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${curso.name}">Curso</title>
    <link rel="stylesheet" href="/css/course.css">
    <link rel="icon" type="image/png" href="/img/logo.png">
</head>
<body>
<header>
    <a th:href="@{../index}"><img src="/img/logo.png" alt="Ícono del gimnasio"></a>
  <h1>TRENdGYM</h1>
</header>

<div class="container">
  <h1 th:text="${curso.name}">Nombre del Curso</h1>
  <div class="video-container">
    <iframe width="560" height="315" th:src="${curso.url}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
  <p class="description" th:text="${curso.description}">Descripción del curso</p>
    <div class="subscribe-container">
        <form class="subscribe-form" th:action="@{/subscribeCourse}" method="post" th:object="${curso}">
            <input type="hidden" th:value="${curso.id}" th:field="${curso.id}">
            <div th:if="${!user.getCourses().contains(curso)}">
                <button type="submit">Suscribirse</button>
            </div>
        </form>
        <div class="subscribe-message" th:if="${user.getCourses().contains(curso)}">
            <p class="already-subscribed-message">Ya estás suscrito a este curso</p>
            <form class="unsubscribe-form" th:action="@{/cancelSubscription}" method="post">
                <input type="hidden" th:value="${curso.id}" th:field="${curso.id}">
                <button type="submit">Cancelar suscripción</button>
            </form>
        </div>
    </div>
</div>
<footer>
    <div class="footer-content">
        <a th:href="@{../politicaPrivacidad}">Política de Privacidad</a>
        <a th:href="@{../ayuda}">Ayuda</a>
        <a th:href="@{../acercaDe}">Acerca de</a>
    </div>
    <div class="footer-bottom">
        <p>© 2023 TRENdGYM - Todos los derechos reservados</p>
    </div>
</footer>
</body>
</html>