<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foro de la comunidad</title>
    <link rel="stylesheet" href="/css/foro.css">
    <link rel="icon" type="image/png" href="/img/logo.png">
</head>
<body>
<header>
    <a th:href="@{index}"><img src="/img/logo.png" alt="Ícono del gimnasio"></a>
    <h1>TRENdGYM</h1>
</header>
<nav>
    <div class="menu-icon" onclick="toggleMenu()">☰</div>
    <ul>
        <li><a th:href="@{index}">Inicio</a></li>
        <li><a th:href="@{tienda}">Merchandising</a></li>
        <li><a th:href="@{courses}">Zona Entrenamiento</a></li>
        <li th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">
            <a th:href="@{panelControl}">Panel de control</a>
        </li>
    </ul>
</nav>
<div class="contenedor">
    <div class="formulario-post">
        <form th:action="@{/publicar}" th:object="${postForm}" method="post" enctype="multipart/form-data" class="form-post">
            <div class="form-group">
                <input type="text" th:field="*{title}" id="titulo" name="titulo" required placeholder="¿Qué está pasando?" class="form-control">
            </div>

            <div class="form-group">
                <textarea id="contenido" name="contenido" th:field="*{content}" required placeholder="Cuenta más..." class="form-control"></textarea>
            </div>

            <div class="form-group">
                <label for="img" class="image-upload-label">Sube una imagen</label>
                <input type="file" id="img" name="imagen" onchange="validateImageSize()" accept="image/*" th:field="*{img}" class="image-upload">
                <p id="errorMessage"></p>
            </div>

            <div sec:authorize="!isAuthenticated()" >
                <p style="color: red">Inicia sesión para poder publicar</p>
                <button disabled type="submit" class="submit-btn">Publicar</button>
            </div>
            <button sec:authorize="isAuthenticated()" type="submit" class="submit-btn">Publicar</button>
        </form>
    </div>
    <div class="contenedor-posts">
        <div class="columna-post"  th:each="post : ${posts}">
            <a th:href="@{/Foro/{id}(id=${post.id})}">
                <div class="eliminar-boton" th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">
                    <form th:action="@{/Foro/{id}(id=${post.id})}" method="post">
                        <input type="submit" value="Eliminar" />
                    </form>
                </div>
                <div th:if="${post.imgBase64 != null}">
                    <img  th:src="${post.imgBase64}" alt="Miniatura del Curso" />
                </div>
                <h3 th:text="${post.title}">Título del post</h3>
                <p th:text="${post.content}">Descripción del post</p>
                <p th:text="${post.user.username}"></p>
                <p th:text="${#temporals.format(post.date, 'dd/MM/yyyy')}">Fecha del post</p>
            </a>
        </div>
    </div>
</div>
<footer>
    <div class="footer-content">
        <a th:href="@{politicaPrivacidad}">Política de Privacidad</a>
        <a th:href="@{ayuda}">Ayuda</a>
        <a th:href="@{acercaDe}">Acerca de</a>
    </div>
    <div class="footer-bottom">
        <p>© 2023 TRENdGYM - Todos los derechos reservados</p>
    </div>
</footer>
<script src="/js/imageValidator.js"></script>
<script src="/js/menuHamburguesa.js"></script>
</body>
</html>