<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Política de Privacidad - TRENdGYM</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="icon" type="image/png" href="/img/logo.png">
</head>
<body>
<header>
    <h1>Política de Privacidad</h1>
</header>

<main>
    <section>
        <h2>Introducción</h2>
        <p>
            En TRENdGYM, estamos comprometidos en proteger la privacidad de nuestros usuarios.
            Esta Política de Privacidad describe cómo recopilamos, utilizamos y protegemos la información personal que recopilamos de nuestros miembros y visitantes del sitio web.
        </p>
    </section>

    <section>
        <h2>Información que Recopilamos</h2>
        <p>
            Recolectamos información personal cuando te registras como miembro o cuando nos proporcionas información durante tu visita a nuestro gimnasio.
            Esta información puede incluir tu nombre, dirección de correo electrónico, número de teléfono, dirección postal y otra información relevante.
            También recopilamos información de uso del sitio web, como direcciones IP, navegadores web utilizados y páginas visitadas.
        </p>
    </section>

    <section>
        <h2>Uso de la Información</h2>
        <p>
            Utilizamos la información personal que recopilamos para brindarte nuestros servicios, como programación de clases y comunicaciones relacionadas con tu membresía.
            También podemos utilizar la información para mejorar nuestros servicios, personalizar tu experiencia y enviar información relevante sobre ofertas y promociones.
            No compartiremos tu información personal con terceros sin tu consentimiento, excepto en circunstancias legales o para cumplir con regulaciones.
        </p>
    </section>

    <section>
        <h2>Seguridad de la Información</h2>
        <p>
            Tomamos medidas para proteger la información personal que recopilamos.
            Utilizamos medidas de seguridad técnicas y organizativas para proteger la información contra accesos no autorizados, divulgación o alteración.
            Sin embargo, ten en cuenta que ninguna transmisión de datos por Internet es completamente segura y no podemos garantizar la seguridad de la información transmitida.
        </p>
    </section>

    <section>
        <h2>Cambios en esta Política</h2>
        <p>
            Nos reservamos el derecho de actualizar esta Política de Privacidad en cualquier momento.
            Cualquier cambio en esta política se publicará en nuestro sitio web.
            Al utilizar nuestros servicios después de cualquier cambio, aceptas los términos revisados de la Política de Privacidad.
        </p>
    </section>
    <section>
        <h2>Importancia de la privacidad de datos</h2>
        <p>
            La privacidad de datos en una página web es un aspecto crítico y multifacético que afecta tanto a los usuarios como a los propietarios de la página. En la era digital, donde gran parte de nuestra vida y trabajo se desarrolla online, la protección de la información personal se ha convertido en un tema de suma importancia.
            <ol>
                <li><b>Confianza del Usuario</b>: La privacidad de datos es fundamental para construir y mantener la confianza de los usuarios. Cuando los usuarios confían en que su información personal está segura, es más probable que utilicen y recomienden el servicio. Una violación de datos puede dañar seriamente la reputación de una empresa.</li>
                <li><b>Cumplimiento Legal</b>: Con la introducción de regulaciones como el GDPR en Europa, el CCPA en California, y otras leyes de privacidad en todo el mundo, el cumplimiento legal se ha vuelto esencial. Estas leyes requieren que las empresas protejan los datos personales de los usuarios y les otorguen ciertos derechos sobre su información.</li>
                <li><b>Seguridad de Datos</b>: La protección contra accesos no autorizados, robos de datos, y otras formas de compromiso de datos es vital. Esto incluye medidas como cifrado de datos, autenticación robusta, y protección contra ataques cibernéticos.</li>
                <li><b>Transparencia y Consentimiento</b>: Las páginas web deben ser transparentes sobre cómo recopilan, usan y comparten los datos personales. Esto incluye proporcionar políticas de privacidad claras y obtener el consentimiento de los usuarios de manera adecuada.</li>
                <li><b>Gestión de Datos Personales</b>: Es importante permitir que los usuarios accedan, corrijan, y eliminen sus datos personales. Esto no solo es un requerimiento legal en muchas jurisdicciones, sino que también da a los usuarios control sobre su información.</li>
                <li><b>Impacto en la Experiencia del Usuario</b>: Un enfoque centrado en la privacidad mejora la experiencia del usuario. Los usuarios son más propensos a interactuar con una página web si sienten que sus datos personales están protegidos y respetados.</li>
                <li><b>Innovación y Competitividad</b>: Las empresas que priorizan la privacidad de datos pueden innovar en la forma en que manejan y protegen la información del usuario, diferenciándose de la competencia y ofreciendo un valor agregado.</li>
                <li><b>Riesgos Financieros y Legales</b>: Las violaciones de datos pueden conllevar significativas sanciones financieras y legales. Además, los costos asociados con la mitigación de una violación de datos y la pérdida de clientes pueden ser sustanciales.</li>
            </ol>
        </p>
    </section>
</main>

<footer>
    <p>TRENdGYM &copy; 2023. Todos los derechos reservados.</p>
</footer>
</body>
</html>
