<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${producto.name}">Producto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/product.css">
    <link rel="icon" type="image/png" href="/img/logo.png">
</head>
<body>
<header>
    <a th:href="@{../index}"><img src="/img/logo.png" alt="Ícono del gimnasio"></a>
    <h1>TRENdGYM</h1>
</header>

<div class="container">
    <h1 th:text="${producto.name}">Nombre del producto</h1>
    <div class="product-container">
        <img th:src="${producto.imgBase64}" alt="Imagen del producto">
    </div>
    <div>
        <p class="description" th:text="${producto.description}">Descripción del producto</p>
        <p>Si quieres algún producto no dudes en contactarme</p>
        <p>Tlf: +34 600 00 00 06</p>
        <p>Correo: pedrojz98@gmail.com</p>
        <p class="price" th:text="'PRECIO: ' + ${producto.price} + '€'">Precio del curso</p>
    </div>
</div>

<footer>
    <div class="footer-content">
        <a th:href="@{../politicaPrivacidad}">Política de Privacidad</a>
        <a th:href="@{../ayuda}">Ayuda</a>
        <a th:href="@{../acercaDe}">Acerca de</a>
    </div>
    <div class="footer-bottom">
        <p>© 2023 TRENdGYM - Todos los derechos reservados</p>
    </div>
</footer>
</body>
</html>