<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tienda</title>
    <link rel="stylesheet" href="/css/styleCourses.css">
    <link rel="icon" type="image/png" href="/img/logo.png">
</head>
<body>
<header>
    <a th:href="@{index}"><img src="/img/logo.png" alt="Ícono del gimnasio"></a>
    <h1>TRENdGYM</h1>
</header>
<div class="contenedor">
    <div class="contenedor-cursos">
        <div class="columna-curso"  th:each="product : ${products}">
            <a th:href="@{/tienda/{id}(id=${product.id})}">
                <img th:src="${product.imgBase64}" alt="Miniatura del producto" />
                <h3 th:text="${product.name}">Nombre del producto</h3>
                <p class="price" th:text="'Precio:' + ' ' + ${product.price} + '€'">Precio del producto</p>
                <p th:text="${product.description}">Descripción del producto</p>
            </a>
        </div>
    </div>
</div>
</body>
</html>