<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tienda</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/shop.css">
    <link rel="icon" type="image/png" href="/img/logo.png">
</head>
<body>
<header>
    <a th:href="@{index}"><img src="/img/logo.png" alt="Ícono del gimnasio"></a>
    <h1>TRENdGYM</h1>
</header>
<nav>
    <ul>
        <li><a th:href="@{index}">Inicio</a></li>
        <li><a th:href="@{courses}">Zona Entrenamiento</a></li>
        <li><a th:href="@{Foro}">Foro Comunidad</a></li>
        <li th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">
            <a th:href="@{panelControl}">Panel de control</a>
        </li>
    </ul>
</nav>
<div class="contenedor">
    <div class="contenedor-productos">
        <div class="columna-producto"  th:each="product : ${products}">
            <a th:href="@{/tienda/{id}(id=${product.id})}">
                <img th:src="${product.imgBase64}" alt="Miniatura del producto" />
                <h3 th:text="${product.name}">Nombre del producto</h3>
                <p class="price" th:text="'Precio:' + ' ' + ${product.price} + '€'">Precio del producto</p>
                <p th:text="${product.description}">Descripción del producto</p>
            </a>
        </div>
    </div>
</div>
<footer>
    <div class="footer-content">
        <a th:href="@{politicaPrivacidad}">Política de Privacidad</a>
        <a th:href="@{ayuda}">Ayuda</a>
        <a th:href="@{acercaDe}">Acerca de</a>
    </div>
    <div class="footer-bottom">
        <p>© 2023 TRENdGYM - Todos los derechos reservados</p>
    </div>
</footer>
</body>
</html>